.idea
.vscode
*.orig
cmake-build-*
tests/data

docs/API/build
docs/guide/build
docs/specifications/_build
docs/specifications/python_examples

build*

*.nc
*.nc.*

poem.egg*
pypoem.egg*
*.egg
*.pyc
tests/*/*.so

IDEES.txt

docs/API/cpp/build
docs/API/cpp/Doxyfile

python/pypoem/_version.py

dist
linuxwheels
windowswheels
wheels

tests/pypoem/pypoem
